<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.mapper.BookMapper">

	<!-- criteria2 (검색조건) -->
	<sql id="criteria2">
		<trim prefix="(" suffix=") AND" prefixOverrides="AND">   <!-- trim 태그 내부의 쿼리 처음 시작은 "(" 로 시작하고 마지막은 ") AND" 로 끝 -->
			<foreach collection="typeArr" item="type">   <!-- typeArr 배열을 전달 받아 type 이라는 변수로 하나씩 꺼내 사용 (확장 for문) -->
				<trim prefix="AND">   <!-- type이 여러 개일 경우 두 번째 쿼리부터 앞에 "AND" 적용 (제일 밖 trim 태그 prefixOverrides="AND" 속성으로 첫 번째 쿼리 앞 "AND" 는 지움) -->
					<choose>   <!-- Switch~case 문처럼 when 태그 test 조건에 맞는 쿼리 적용 -->
						<when test="type == 'A'.toString()">   <!-- 작가 검색 -->
							<trim prefix="(" suffix=")" prefixOverrides="OR">   <!-- 작가 리스트를 배열로 전달 받기 때문에 여러 작가 검색을 위한 OR 조건 설정 -->
								<foreach collection="authorArr" item="authorId">
									<trim prefix="OR">
										authorId = #{authorId}
									</trim>
								</foreach>
							</trim>
						</when>
						<when test="type == 'C'.toString()">   <!-- 카테고리 검색 -->
							cateCode like '%' || #{cateCode} || '%'
						</when>
						<when test="type == 'T'.toString()">   <!-- 상품 이름 검색 -->
							bookName like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	
	<!-- 상품 검색 -->
	<select id="getGoodsList" resultType="com.market.model.BookVO">
		<![CDATA[
		    select * from(
		        select /*+INDEX_DESC(book_goods SYS_C009231)*/ rownum as rn, bookId, bookName,
		            (select authorName from book_author where book_goods.authorId = book_author.authorId) authorName, authorId,
		            (select cateName from book_bcate where book_goods.cateCode = book_bcate.cateCode) cateName, cateCode, publisher, publeYear, bookPrice, bookDiscount 
		        from book_goods
		        where 
	    ]]>
	    
	    <include refid="criteria2"></include>
	    
	    <![CDATA[
		        rownum <= #{pageNum} * #{amount} 
	        	)
	        where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="goodsGetTotal" resultType="int">
		select count(*) from book_goods
		where
		
		<include refid="criteria2"></include> 
		
		bookId > 0
	</select>
	
	<!-- 작가 id 리스트 요청 -->
	<select id="getAuthorIdList" resultType="String">
		select authorId from book_author where authorName like '%' || #{keyword} || '%'
	</select>
	
	<!-- 국내 카테고리 리스트 -->
	<select id="getCateCode1" resultType="com.market.model.CateVO">
		<![CDATA[
			select * from book_bcate where cateCode > 100000 and cateCode < 200000
		]]>
	</select>
	
	<!-- 외국 카테고리 리스트 -->
	<select id="getCateCode2" resultType="com.market.model.CateVO">
		<![CDATA[
			select * from book_bcate where cateCode > 200000 and cateCode < 300000
		]]>
	</select>
	
</mapper>