<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.mapper.BookMapper">

	<!-- criteria2 (검색조건) -->
	<sql id="criteria2">
	    <if test="keyword != null">
		    bookName like '%' || #{keyword} || '%' and
		</if>
	</sql>

	
	<!-- 상품 검색 -->
	<select id="getGoodsList" resultType="com.market.model.BookVO">
		<![CDATA[
		    select * from(
		        select /*+INDEX_DESC(book_goods SYS_C009231)*/ rownum as rn, bookId, bookName,
		            (select authorName from book_author where book_goods.authorId = book_author.authorId) authorName, authorId,
		            (select cateName from book_bcate where book_goods.cateCode = book_bcate.cateCode) cateName,cateCode, publisher, publeYear, bookPrice  
		        from book_goods
		        where 
	    ]]>
	    
	    <include refid="criteria2"></include>
	    
	    <![CDATA[
		        rownum <= #{pageNum} * #{amount} 
	        	)
	        where rn > (#{pageNum} -1) * #{amount}
		]]>	  		
	
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="goodsGetTotal" resultType="int">
		select count(*) from book_goods
		where
		<include refid="criteria2"></include> 
		bookId > 0
	</select>
	
	<!-- 작가 id 리스트 요청 -->
	<select id="getAuthorIdList" resultType="String">
		select authorId from book_author where authorName like '%' || #{keyword} || '%'
	</select>
	
</mapper>