@charset "UTF-8";

*{
	margin: 0;
	padding:0;
}

a{
    text-decoration: none;
}

/* 화면 전체 렙 */
.wrapper{
	/* 브라우저 크기에 맞춰 페이지 요소들이 화면 중앙에 오도록 변경 */
	/* width: 1900px; */
	width: 100%;
}

/* content 랩 */
.wrap{
	width : 1080px;
	margin: auto;
}

/* 제품 목록 네비 */
.navi_bar_area {
	/* width: 100%;
    height: 70px;
    background-color: #7696fd; */
    overflow: hidden;
	background-color: #5e6b9e;
	/* background-color: darkgray; */
}
.navi_bar_area a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
	margin-left: 10px;
}
.dropdown .dropbtn {
	font-size: 20px;
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width:140px;
}
.dropdown-content {
	display:none;
	position: absolute;
	background-color: #f9f9f9;
	/* width: 466px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 100px;
}
.dropdown:hover .dropdown-content {   /* '.dropdown'태그에 hover 이벤트가 발생했을 때 '.dropdown-content' 태그는 "display:block;"속성을 가져야 한다 */
	display: block;
}
.navi_bar_area a:hover, .dropdown:hover .dropbtn {   /* a태그에 사용자가 마우스를 올렸을 때 직관적으로 선택되고 있다는 것을 표현 */
	background-color: #475382;
}
.dropdown-content a:hover {   /* a태그에 사용자가 마우스를 올렸을 때 직관적으로 선택되고 있다는 것을 표현 */
	background-color: #ddd;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
    /* background-color: #97ef97; */
    /* height: 1000px; */
    /* min-height: 1000px; */
}

/* 슬라이드가 메인 페이지 중앙에 정렬되고, 슬라이드 영역에 배경색과 위아래로 공간을 주는 코드 */
.slide_div img{
	margin: auto;
}
.slide_div_wrap{
	padding: 15px 0 15px 0;
    /* background: #e6e9f6; */
}

/* 평점순 상품 */
.ls_wrap{
    margin: 30px 0 30px 0;
    padding: 0 10px 0 10px;
}
.ls_div_content{
	width: 80%;
    margin: auto;
    height: 275px;
    border: 1px solid #dadada;
}
.image_wrap{
    display: flex;
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    align-items: center;
}
.image_wrap img{
	max-width: 85%;
	max-height: 90%;
    /* height: auto; */
    /* display: block; */
	margin: auto;
}
.ls_category{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_rating{
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_bookName{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_div_subject{
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 10px;
}

/* 평점순 상품 슬라이드 버튼 - 슬라이드 설정에서 추가한 것 */
.ls_div_content_prev{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    /* left: 27px; */
    left: 0px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
    background-color: #6D7692;
    color: white;
}
.ls_div_content_next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    /* right: 27px; */
    right: 0px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
    background-color: #6D7692;
    color: white;
}
.ls_div_content_prev:hover, .ls_div_content_next:hover{
   /* opacity: 80%; */
   opacity: 100%;
}